html,body{
    
    margin: 0;
    padding: 0;
    
}

#main{
    width: 100%;
    top: 0;
    left: 0;
}

#app{
    width:100%;
    display: flex;
    
}
a{
    color:inherit !important;
    text-decoration: none !important;
}


